h1 {
    font-family: 'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    line-height: 49px;

}

p {
    font-family: 'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51 px;
}

button {
    font-family: 'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
}

input {
    font-family: 'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    background-color: #999999;
}

button {
    background-color: #089FE0;
}

a href {
    color: #089FE0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-seriыf;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

label {
    font-family: 'Open Sans',
        'Helvetica Neue',
        sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

main {
    background: #FFFEFE;
}

input type="checkbox" {
    border: 1px solid #EEEEEE
}